
<div class="container mt-3">
  <ng-container *ngIf="listesClient | async as lClients; else failureOrLoading">
    <div class="card" *ngIf="listesClient ">

      <div class="card-header">Liste des clients</div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <td>id</td> <td>Prénom</td> <td>Nom</td> <td>Email</td> <td>Adresse</td> <td>Téléphone</td><td>Date création</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of listesClient | async">
            <td>{{c.idClient}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.email}}</td>
            <td>{{c.adresse}}</td>
            <td>{{c.telephone}}</td>
            <td>{{c.createdAt}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading >
    <ng-container *ngIf="messageErreur; else loading">
      <div class="text-danger">
        {{messageErreur}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .....
    </ng-template>

  </ng-template>

</div>

